<main class="row col">

    <form class="col-8 col-sm-8 col-lg-4 col-md-8 formRegister" action="/register" method="post">
        <h1>Cadastrar Novo Usuário</h1><br>
        <input type="text" id="user" name="user" placeholder="Nomde do Usuário"> <br>
        <input type="email" id="email" name="email" placeholder="E-mail"><br>
        <input type="password" id="senha" name="senha" placeholder="Password"><br>
        <button type="submit">Cadastrar</button>
    </form>
</main>