<!-- dashboard.handlebars -->

<h1>Dashboard</h1>

<form action="/dashboard" method="post">
    <label for="school">Escolha a Escola:</label>
    <select name="school" id="school">
        {{#each schools}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <button type="submit">Filtrar</button>
</form>

<!-- Exibir dados do dashboard aqui -->