<script>
    setTimeout(function () {
        window.location.href = "/";
    }, 5000); // = 5 segundos
</script>
{{!-- <div class="container">
    <div class="container">
        <div class="box row mt-4">
            <div class="col-lg-5 col-sm-9 col-10 mx-auto">
                <div class="custom-loader"></div>
                <div class="col-lg-5 col-sm-9 col-10 mx-auto fundao">
                    <!-- <img src="/img/MARCA FUNDÃO_VERTICAL BRANCO.png" alt="Logo Fundão"> -->
                    <img src="/img/joinha.png" alt="Imagem Joinha">
                </div>
                <br>
                <p class="fundao">Cadastro realizado com sucesso</p>
            </div>
        </div>
    </div>
</div> --}}

<div class="custom-loader"></div>