

<main class="row col">
    <form class="col-8 col-sm-8 col-lg-6 col-md-8 formLogin" action="">
        
        <div class="login">
            <input id="email" type="email" placeholder="E-mail" class="form-control" required>
            <input type="password" id="password" placeholder="Password" class="form-control" required>
            <button type="submit">Login</button>
            <button type="button" class="btn btn-danger">Danger</button>
        </div>
        
    </form>
</main>