<main class="row col">
    <form class="col-8 col-sm-8 col-lg-4 col-md-8 formLogin" action="">
        
        <div class="login">
            <input id="email" type="email" placeholder="E-mail" class="form-control" required>
            {{!-- <div class="input-container"> --}}
                <input type="password" id="password" placeholder="Password" class="form-control eyeball-input" required>
                {{!-- <i class="fa-eyeball"></i> --}}
            {{!-- </div> --}}
            
            <button type="submit">Login</button>
        </div>
        
    </form>
</main>