.formLogin,
.formRegister,
.formCadastro {
    -webkit-box-shadow: 7px 2px 25px 7px rgba(211, 210, 247, 0.56);
    -moz-box-shadow: 7px 2px 25px 7px rgba(211, 210, 247, 0.56);
    box-shadow: 7px 2px 25px 7px rgba(211, 210, 247, 0.56);
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 20vw;
    border-radius: 1rem;
    border: 2px solid #FFF;
    flex-direction: column;
    animation: border-animation 1s infinite alternate;
}


.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form input[type="email"],
form input[type="password"],
form input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: 2px solid #5A8CD6;
    border-radius: 0.5rem;
    text-align: center;
}

form button[type="submit"] {
    width: 60%;
    padding: 1rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #6496E4;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #135ecf;
}