* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    border: 0;

}


body {
    text-transform: uppercase;
    width: 100vw;
    height: 100vh;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

