body {
    /* background: linear-gradient(#141e30, #243b55);
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(33, 33, 208, 1) 55%, rgba(6, 13, 77, 1) 100%);
    background: linear-gradient(#141e30, #0363d1); */
    text-transform: uppercase;
    width: 100vw;
    height: 100vh;

}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #FFF;

}

